body {
  color: #999999;
  background-color: #6487e8;
}

.container {
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 10px;
  margin: 40px;
}

a {
  text-decoration: none;
  color: #999999;
}

a:visited {
  color: #999999;  
}

thead {
  background: rgb(55,141,225);
  background: linear-gradient(90deg, rgba(55,141,225,1) 0%, rgba(55,98,225,1) 100%);
}

td, th {
  padding: .635em;
  color: #fff !important;
}

td {
  padding: .35em;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

.item {
  padding: 30px 50px;
}

.item__text {
  padding: 10px;
  width: 80%;
}

.item__img {
  height: 200px;
}

hr {
  color: rgb(55,141,225);
  color: linear-gradient(90deg, rgba(55,141,225,1) 0%, rgba(55,98,225,1) 100%);
}
